/* .nav_fixed2 {
  top: 0;
  bottom: auto;
  height: 60px;
  background-image: linear-gradient(
    to right,
    rgb(215, 67, 87),
    rgb(241, 79, 58) 59%,
    rgb(239, 100, 47)
  );
  z-index: 1;
} */
 